*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Barlow", serif;
    font-weight: 500;
}
body{
  overflow: hidden;
}
.main-container{
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.rapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px 3px rgba(154, 154, 154, 0.595);
  width: 95%;
  border-radius: 5px;
  padding-bottom: 10px;
}
.ticker-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
  }
  
  .ticker-text {
    display: inline-block;
    padding-left: 100%;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 28, 244, 0.692);
    animation: scroll-left 4s linear infinite; /* Faster scrolling speed */
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .nav-two{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
    position: absolute;
    top: 0px;
  }
  .top-tc{
    background-color: rgb(239, 188, 94);
    padding: 4px 10px;
    width: 100%;
    border-radius: 5px; 
  }
  .top-tc h2{
    font-size: 17px;
    font-weight: 700;
    padding: 5px 0px 6px 0px;
    border-bottom: 1px solid purple;
  }
  .journey{
    display: flex;
    position: relative;
    width: 100%;
    border-bottom: 1px solid purple;
    padding: 2px;

  }
  .price{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 70%;
    font-size: 14.5px;
  }
  .price p span{
    font-weight: 700;
  }
  .heading{
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    right: 40%;


  }
  .dateno{
    text-align: end;
  }
  .dateno span{
    font-weight: 650;
    font-size: 15px;
  }
  .from span, .to span{
    background-color: rgb(94, 17, 166);
    border-radius: 50%;
    padding: 2px 7px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    margin-right: 7px;

  }
  .destination{
    display: flex;
    flex-direction: column;
    padding: 7px 0px;
  }
  .from, .to{
    display: flex;
    align-items: center;
  }
  .from p, .to p{
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;

  }
  .perinfo{
    padding: 3px;
  }
  .perinfo span{
    font-size: 15px;
  }
  .class-type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0px 5px 0px;
  }
  .class{
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  .class span{
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
  }
  .class p{
    font-weight: 700;
    line-height: 16px;
  }
  .sac{
    padding: 6px 1px;
    border-top: 1.5px solid purple;
    border-bottom: 1.5px solid purple;
  }
  .hours{
    font-size: 14px;
    font-weight: 400;
    padding: 3px 12px 0px 8px;
  }
  .distance{
    display: flex;
    gap: 39vw;
    padding: 4px 0px;
  }
  .datetime span{
    font-size: 13px;
    font-weight: 700;
  }
  .info{
    padding: 0px 8px;
    margin-top: -7px;
  }
  .info p{
    font-size: 12px;
    padding: 10px 5px;
    color: rgb(60, 60, 172);
  }
  .info p a{
    color: rgb(238, 93, 64);
  }
  .info h3{
    margin-top: -5px;
    font-size: 13px;
    color: rgb(255, 0, 0);
    text-align: center;
  }
  .btns{
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .btns button{
    border-radius: 20px;
    border: none;
    background: linear-gradient(90deg ,#fe7666, #f98749);
    padding: 7px;
  }
  footer{
    font-size: 16px;
    text-align: center;
    position: absolute;
    bottom: -5px;
    right: 0px;
    background-color: white;
    width: 100%;
  }