

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Barlow", serif;
    font-weight: 500;
}
progress::-webkit-progress-bar {
    background-color: #f88848;
}
progress::-webkit-progress-value {
    background-color: #f88848;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;justify-content: center;
}
.nav{
    background: linear-gradient(90deg ,#fe7666, #f98749);
    padding: 10px;
    color: white;
    font-weight: 100;
    font-size: 18px;
    width: 100vw;
    display: flex;
}
.nav h3{
    font-weight: 500;
}
.nav i{
    margin-right: 10px;
}

.show-tc{
    background: linear-gradient(90deg ,#fe7666, #f98749);
    margin-top: 7px;
    width: 93vw;
    border-radius: 5px;
    display: flex;
    padding: 8px;
    color: white;
   
}
.show-tc h3{
    font-weight: 600;
}
.main-tc{
    margin-top: 15px;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.303);
    width: 94vw;
    padding: 8px;
    border-radius: 5px;
    position: relative;
}
.main-top{
    width: 100%;
    display: flex;
}
.left{
    padding: 0px 15px 0px 5px;
    line-height: 29px;
    background: linear-gradient(90deg ,#fe7666, #f98749);
    font-size: 12px;
    font-weight: 600;
    color: white;
    margin-right: 2px;
    width: 50%;
}
.right{
    padding: 7px 15px 7px 5px;
    background: linear-gradient(90deg ,#fe7666, #f98749);
    font-size: 13px;
    font-weight: 600;
    color: white;
    width: 50%;
    text-align: end;
}

.destination{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(67, 67, 67, 0.326);
}
.right-sd{
    width: 55%;
}
.left-sd{
    width: 45%;
}
.destination a{
    margin: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 550;

}
.destination span{
    height: 10px;
    width: 10px;
    padding: 2px 5px;
    background-color: #fa8342;
    font-size: 15px;
    font-weight: 700;
    color: white;
    border-radius: 50%;
    margin-right: 5px;
}
.via{
    padding: 5px;
    border-bottom:  1px solid rgba(67, 67, 67, 0.326);
    font-size: 15px;
}
.via span{
    color: #fa8342;
}
.per-info{
    display: flex;
    border-bottom:  1px solid rgba(67, 67, 67, 0.326);
}
.info{
    font-size: 11px;
    padding: 3px;
    border-right:  1px solid rgba(67, 67, 67, 0.326);
    border-top: none;
    text-align: center;
}
.one{
    width: 40%;
}
.two{
    width: 30%;
}
.date-info{
    border-bottom:  1px solid rgba(67, 67, 67, 0.326);
    display: flex;
    font-size: 11px;
    justify-content: space-around;
}
.date{
    padding: 4px;
}
.uts{
    padding: 4px;
}
.date-info span{
    color: #fa8342;
    border-right: 1px solid rgba(67, 67, 67, 0.326);
    padding-right: 15px;
}

.view{
    display: flex;
    padding: 8px;
    justify-content: space-between;
}
.view-one, .view-next{
    color: #fa8342;
    font-size: 12px;
}
.sync{
    position: absolute;
    bottom: 50px;
    right: 20px;
    font-size: 12px;
}
.sync span{
    height: 30px;
    background-color: #f44236;
    border-radius: 50%;
    padding: 12px 14px;
    box-shadow: 1px 1px 3px 1px rgba(84, 81, 81, 0.525);
    color: white;
}
.img{
    width: 30px;
    height: 23px;
    margin-right: 13px;
}
.booked{
    position: absolute;
    z-index: -1;
    top:75px;
    right: 120px;
    height: 90px;
    opacity: 0.6;
}