*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main img{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}